<div class="container-fluid bg-yellow py-3" id="footer">
    <div class="w-100 mx-0 row py-4">
        <div class="col text-center">
            <span class="footer-text py-1 px-3">Convenios</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 mx-auto text-center lego-footer">
            <p class="h5 mb-5">
                Tenemos disponibles convenios especiales para empresas, departamentos de bienestar, gerencias de RRHH, servicios públicos, FFAA, colegios, liceos y grupos grandes. Escríbenos y tendrás la posibilidad de visitarnos con atractivos precios preferenciales.
            </p>
            <p class="h3 my-5">Contáctanos a: loremipsum@lorem.com</p>
            <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita perspiciatis nulla minus perferendis non aspernatur deleniti modi est in.</p>
        </div>
    </div>
</div>