<nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">MAPA DEL SITIO</a>
            </li>
            <span class="v-separator my-0 my-md-2"></span>
            <li class="nav-item">
                <a class="nav-link" href="#">BOLETERÍA</a>
            </li>
            <span class="v-separator my-0 my-md-2"></span>
            <li class="nav-item">
                <a class="nav-link" href="#">HORARIOS</a>
            </li>
            <span class="v-separator my-0 my-md-2"></span>
            <li class="nav-item">
                <a class="nav-link" href="#">ESTACIONES</a>
            </li>
            <span class="v-separator my-0 my-md-2"></span>
            <li class="nav-item">
                <a class="nav-link" href="#">GALERÍA</a>
            </li>
            <span class="v-separator my-0 my-md-2"></span>
            <li class="nav-item">
                <a class="nav-link" href="#">CONVENIOS</a>
            </li>
        </ul>
    </div>
</nav>