.tickets {
    background-color: rgb(255, 214, 0);
    margin: 0px !important;
    padding: 0px !important;
}

.ticket-text {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000;
}

.free-day {
    color: white;
    font-size: 34px;
    background-color: red;
    border-radius: 10px;
}

.ticket-list {
    list-style-image: url('../../../assets/images/list-marker.png');
    color: black;
}

@media (max-width: 690px) {
    .free-day {
        font-size: 16px;
    }
}