<div class="tickets container-fluid">
    <div class="row pt-5">
        <div class="col-12 text-center">
                <p class="ticket-text">
                    {{ ticketText1 }} <br>
                    {{ ticketText2 }}
                </p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4 text-right">
                <span class="free-day py-1 px-3">Free Day</span>
            </div>
        <div class="col-8">
            <ul class="ticket-list">
                <li>Puedes ir a LEGO Fun Fest el día que quieras sin restricción de horario.</li>
                <li>Hasta agotar boletería.</li>
                <li>Válida para un solo ingreso.</li>
            </ul>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col text-center">
                <span class="ticket-text py-1 px-3">Venta de entradas - General</span>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-lg-6" style="background-color: red;">

        </div>
    </div>
</div>