<div class="container-fluid banner">
    <div class="row py-3">
        <div class="col-6">
            <div class="ml-auto w-50 text-right">
                <img src="assets/images/lego_logo.png" class="img-fluid" alt="Lego Logo">
            </div>
        </div>
        <div class="col-6">
            <div class="mr-auto w-50 text-left">
                <img src="assets/images/phrase_logo.png" class="img-fluid" alt="Lego Logo">
            </div>
        </div>
    </div>
    <div class="row py-0 py-sm-2">
        <div class="col-6">
            <p class="text-center mb-0">
                <span class="banner-sub-text px-2">
                    {{ leftBannerText1 }}
                </span>
            </p>
            <p class="text-center">
                <span class="banner-sub-text px-2">
                    {{ leftBannerText2 }}
                </span>
            </p>
        </div>
        <div class="col-6">
            <p class="text-center mb-0">
                <span class="banner-sub-text px-2">
                    {{ rightBannerText1 }}
                </span>
            </p>
            <p class="text-center">
                <span class="banner-sub-text px-2">
                    {{ rightBannerText2 }}
                </span>
            </p>
        </div>
    </div>
    
</div>





<!-- <div class="container-fluid banner">
    <div class="row pt-1 mp-md-3 pt-lg-4 pt-xl-5">


        <div class="col-6 col-lg-4 col-xl-4 offset-lg-2 offset-xl-2 text-right">
            <div class="w-75 ml-auto">
                <img src="assets/images/lego_logo.png" class="img-fluid mb-1 mb-md-2 mb-lg-4 mb-xl-5 pb-1 pb-md-0 pb-lg-0 pb-xl-0 py-1 py-md-0 py-lg-0 py-xl-0" alt="Lego Logo">
            </div>
            <div class="d-xl-none d-lg-none">
                <p class="text-center mb-0">
                    <span class="banner-sub-text h6 px-2">
                        {{ leftBannerText1 }}
                    </span>
                </p>
                <p class="text-center">
                    <span class="banner-sub-text h6 px-2">
                        {{ leftBannerText2 }}
                    </span>
                </p>
            </div>
            <div class="d-none d-lg-block d-xl-block">
                <p class="text-center mb-0">
                    <span class="banner-sub-text h4 px-2">
                        {{ leftBannerText1 }}
                    </span>
                </p>
                <p class="text-center">
                    <span class="banner-sub-text h4 px-2">
                        {{ leftBannerText2 }}
                    </span>
                </p>
            </div>
        </div>


        <div class="col-6 text-left">
            <div class="w-50 mr-auto banner-main-text text-center">
                <p class="h2 mb-0 pb-0">
                    {{ rightBannerText1 }}
                </p>
                <p class="h1 mt-0 pt-0">
                    {{ rightBannerText2 }}
                </p>
                <p class="h2 mt-0 pt-0">
                    {{ rightBannerText3 }}
                </p>
                <p class="display-2 mt-0 pt-0">
                    {{ rightBannerText4 }}
                </p>
            </div>
        </div>


    </div>
</div> -->